[[inputs.socket_listener]]
  service_address = "udp://localhost:2500"

  data_format = "grok"
  grok_custom_patterns = '''
    %{DATE:date} - %{TIME:time}: "%{DATA:name}<%{NUMBER:number}><%{DATA:steamid}><%{DATA:team}>" entered the game
    %{DATE:date} - %{TIME:time}: "%{DATA:name}<%{NUMBER:number}><%{DATA:steamid}><%{DATA:team}>" joined team "%{WORD:teamjoined}"
    %{DATE:date} - %{TIME:time}: "%{DATA:name}<%{NUMBER:number}><%{DATA:steamid}><%{DATA:team}>" connected, address "%{IPV4:ipaddress}:%{POSINT:port}"
    %{DATE:date} - %{TIME:time}: "%{DATA:name}<%{NUMBER:number}><%{DATA:steamid}><%{DATA:team}>" disconnected \(reason "%{DATA:disconnectreason}"\)
    %{DATE:date} - %{TIME:time}: "%{DATA:name}<%{NUMBER:number}><%{DATA:steamid}><%{DATA:team}>" say "%{DATA:text}"
  '''

[[outputs.azure_monitor]]